USE [glazki_save]
GO
/****** Object:  Table [dbo].[agents]    Script Date: 18.03.2023 19:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agents](
	[Тип_агента] [nvarchar](50) NOT NULL,
	[Наименование_агента] [nvarchar](50) NOT NULL,
	[Электронная_почта_агента] [nvarchar](50) NOT NULL,
	[Телефон_агента] [nvarchar](50) NOT NULL,
	[Логотип_агента] [nvarchar](50) NOT NULL,
	[Юридический_адрес] [nvarchar](100) NOT NULL,
	[Приоритет] [nvarchar](50) NOT NULL,
	[Директор] [nvarchar](50) NOT NULL,
	[ИНН] [bigint] NOT NULL,
	[КПП] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_agent]    Script Date: 18.03.2023 19:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_agent](
	[Наименование_продукции] [int] NOT NULL,
	[Тип_продукции] [nvarchar](50) NOT NULL,
	[Артикул] [int] NOT NULL,
	[Количество_человек_для_производства] [tinyint] NOT NULL,
	[Номер_цеха_производства] [tinyint] NOT NULL,
	[Минимальная_цена_для_агента] [money] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_product_agent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_agents]    Script Date: 18.03.2023 19:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_agents](
	[Наименование_продукции] [int] NOT NULL,
	[Тип_продукции] [nvarchar](50) NOT NULL,
	[Артикул] [int] NOT NULL,
	[Количество_человек_для_производства] [tinyint] NOT NULL,
	[Номер_цеха_производства] [tinyint] NOT NULL,
	[Минимальная_цена_для_агента] [money] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_product_agents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productsale]    Script Date: 18.03.2023 19:38:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productsale](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prod] [varchar](max) NOT NULL,
	[agent] [int] NOT NULL,
	[date_realize] [date] NOT NULL,
	[num_of_prod] [int] NOT NULL,
 CONSTRAINT [PK_productsale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[agents] ON 

INSERT [dbo].[agents] ([Тип_агента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [id]) VALUES (N'МФО', N'СервисПив', N'email: znosov@vasilev.ru', N'+7 (922) 325-12-93', N'нет', N'840377, Рязанская область, город Щёлково, пл. Бухарестская, 42', N'329 в приоритете на поставку', N'Никита Александрович Королёв', 6861024038, 218034630, 1)
INSERT [dbo].[agents] ([Тип_агента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [id]) VALUES (N'ООО', N'СантехСеверЛенМашина', N'email: pgorbacev@vasilev.net', N'(812) 214-73-94', N'\agents\agent_99.png', N'606990, Новосибирская область, город Павловский Посад, въезд Домодедовская, 38', N'201', N'Павел Максимович Рожков', 3506691089, 830713603, 2)
INSERT [dbo].[agents] ([Тип_агента], [Наименование_агента], [Электронная_почта_агента], [Телефон_агента], [Логотип_агента], [Юридический_адрес], [Приоритет], [Директор], [ИНН], [КПП], [id]) VALUES (N'ЗАО', N'ЭлектроРемОрионЛизинг', N'email: anfisa.fedotova@tvetkov.ru', N'phone: (495) 513-93-16', N'\agents\agent_93.png', N'594365, Ярославская область, город Павловский Посад, бульвар Космонавтов, 64', N'Приоритет = 198', N'Тарасова Дан Львович', 1340072597, 500478249, 3)
GO
SET IDENTITY_INSERT [dbo].[agents] OFF
GO
SET IDENTITY_INSERT [dbo].[product_agents] ON 

INSERT [dbo].[product_agents] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [id]) VALUES (33, N'С клапаном', 7560408, 3, 3, 1576.0000, 1)
INSERT [dbo].[product_agents] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [id]) VALUES (42, N'С клапаном', 76452269, 3, 9, 342.0000, 2)
INSERT [dbo].[product_agents] ([Наименование_продукции], [Тип_продукции], [Артикул], [Количество_человек_для_производства], [Номер_цеха_производства], [Минимальная_цена_для_агента], [id]) VALUES (11, N'Открытого типа', 75996796, 4, 12, 198.0000, 3)
SET IDENTITY_INSERT [dbo].[product_agents] OFF
GO
SET IDENTITY_INSERT [dbo].[productsale] ON 

INSERT [dbo].[productsale] ([id], [prod], [agent], [date_realize], [num_of_prod]) VALUES (2, N'Маска защитная открытого типа 5493', 4, CAST(N'2014-06-25' AS Date), 8)
INSERT [dbo].[productsale] ([id], [prod], [agent], [date_realize], [num_of_prod]) VALUES (3, N'Очки темные с клапаном 2774', 72, CAST(N'2011-01-04' AS Date), 10)
INSERT [dbo].[productsale] ([id], [prod], [agent], [date_realize], [num_of_prod]) VALUES (4, N'Очки красные затемненные 5288', 73, CAST(N'2015-07-03' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[productsale] OFF
GO
ALTER TABLE [dbo].[product_agent]  WITH CHECK ADD  CONSTRAINT [FK_product_agent_agents] FOREIGN KEY([Наименование_продукции])
REFERENCES [dbo].[agents] ([id])
GO
ALTER TABLE [dbo].[product_agent] CHECK CONSTRAINT [FK_product_agent_agents]
GO
ALTER TABLE [dbo].[productsale]  WITH CHECK ADD  CONSTRAINT [FK_productsale_agents] FOREIGN KEY([agent])
REFERENCES [dbo].[agents] ([id])
GO
ALTER TABLE [dbo].[productsale] CHECK CONSTRAINT [FK_productsale_agents]
GO
