USE [TourAgencyMD]
GO
/****** Object:  Table [dbo].[Countrys]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countrys](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [nchar](10) NULL,
 CONSTRAINT [PK_Countrys] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dates]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dates] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](50) NOT NULL,
	[Stars] [int] NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourHotels]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourHotels](
	[HotelID] [int] NOT NULL,
	[TourID] [int] NOT NULL,
 CONSTRAINT [PK_TourHotels] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourID] [int] NOT NULL,
	[ImageTour] [nvarchar](max) NOT NULL,
	[TourName] [nvarchar](50) NULL,
	[CountryCode] [nchar](10) NULL,
	[TicketsCount] [int] NULL,
	[Cost] [int] NULL,
	[isActual] [int] NULL,
	[TourType] [nvarchar](max) NULL,
	[Actual] [varchar](50) NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourTypes]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourTypes](
	[TourTypeID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.03.2023 19:39:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[login] [nvarchar](50) NULL,
	[RoleID] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[avatar] [varchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countrys] ON 

INSERT [dbo].[Countrys] ([CountryID], [CountryName], [CountryCode]) VALUES (1, N'Afghanistan', N'AF        ')
INSERT [dbo].[Countrys] ([CountryID], [CountryName], [CountryCode]) VALUES (2, N'Albania', N'AL        ')
INSERT [dbo].[Countrys] ([CountryID], [CountryName], [CountryCode]) VALUES (3, N'Algeria', N'DZ        ')
GO
SET IDENTITY_INSERT [dbo].[Countrys] OFF
GO
SET IDENTITY_INSERT [dbo].[Dates] ON 

INSERT [dbo].[Dates] ([id], [dates]) VALUES (1, CAST(N'2022-12-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Dates] ([id], [dates]) VALUES (2, CAST(N'2022-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Dates] ([id], [dates]) VALUES (3, CAST(N'2022-12-22T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Dates] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Stars], [CountryName], [CountryCode]) VALUES (1, N'Hotel Artemide', 5, N'Spain', N'ES        ')
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Stars], [CountryName], [CountryCode]) VALUES (2, N'H10 Madison', 4, N'Finland', N'FI        ')
INSERT [dbo].[Hotels] ([HotelID], [HotelName], [Stars], [CountryName], [CountryCode]) VALUES (3, N'A Room With A View', 3, N'Spain', N'ES        ')
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
INSERT [dbo].[Role] ([id], [Title]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id], [Title]) VALUES (2, N'User')
INSERT [dbo].[Role] ([id], [Title]) VALUES (3, N'Manager')
GO
INSERT [dbo].[Tours] ([TourID], [ImageTour], [TourName], [CountryCode], [TicketsCount], [Cost], [isActual], [TourType], [Actual]) VALUES (1, N'\resursi\tours\bolgaria.jpg', N'Болгарское наследие', N'34
      ', 127, 35700, 1, N'Международный туризм
', N'Актуально')
INSERT [dbo].[Tours] ([TourID], [ImageTour], [TourName], [CountryCode], [TicketsCount], [Cost], [isActual], [TourType], [Actual]) VALUES (2, N'\resursi\tours\vostok.jpg', N'Волшебный Восток
', N'228
     ', 92, 77100, 1, N'Лечебно-оздоровительныетуры
', N'Актуально')
INSERT [dbo].[Tours] ([TourID], [ImageTour], [TourName], [CountryCode], [TicketsCount], [Cost], [isActual], [TourType], [Actual]) VALUES (3, N'\resursi\tours\gorod1.jpg', N'Город с большими амбициями
', N'84
      ', 72, 93300, 1, N'Пляжные туры
', N'Актуально')
GO
INSERT [dbo].[TourTypes] ([TourTypeID], [TypeName]) VALUES (1, N'Международный туризм')
INSERT [dbo].[TourTypes] ([TourTypeID], [TypeName]) VALUES (2, N'Лечебно-оздоровительные туры')
INSERT [dbo].[TourTypes] ([TourTypeID], [TypeName]) VALUES (3, N'Пляжные туры')
GO
INSERT [dbo].[User] ([ID], [login], [RoleID], [Password], [avatar]) VALUES (0, N'qwertyuiop', NULL, NULL, NULL)
INSERT [dbo].[User] ([ID], [login], [RoleID], [Password], [avatar]) VALUES (1, N'admin', 1, N'admin', N'/resursi/admin1.jpg')
INSERT [dbo].[User] ([ID], [login], [RoleID], [Password], [avatar]) VALUES (2, N'maneger', 2, N'123', N'/resursi/user1.jpg')
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_User] FOREIGN KEY([id])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_User]
GO
